.gf-fav {
  background: rgba(255, 172, 172, 0.212);
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  outline: 0;
  transition: all .3s ease;
}

.gf-fav:hover {
  background: rgba(255, 172, 172, 0.5);
}

.gf-fav span {
  display: block;
  width: 21px;
}